# \[일반 과제\] 2. 데이터 결합 및 시각화
### 컴퓨터공학과 4학년 20150063 권동규

## 0. 데이터 정보 설명
[정보링크](https://dacon.io/competitions/official/235720/codeshare/2488?page=1&dtype=recent)

## site_info.csv - 발전소 정보
Id : 사이트 식별자  
Capacity : 발전소 발전용량(MW)  
Address : 주소  
InstallationAngle : 설치각(º)  
IncidentAngle : 입사각(º)  
Latitude : 위도  
Longitude : 경도  

## energy.csv - 발전소별 발전량
time : 1시간 단위 계량된 시간  
(ex-2018-03-01 1:00:00 => 2018-03-01 00:00:00 ~ 2018-03-01 1:00:00 1시간동안 발전량 계량)  
dangjin_floating : 당진수상태양광 발전량(KW)  
dangjin_warehouse : 당진자재창고태양광 발전량(KW)  
dangjin : 당진태양광 발전량(KW)  
ulsan : 울산태양광 발전량(KW)  

## dangjin_fcst_data.csv - 당진지역 발전소 동네 예보
Forecast time : 예보 발표 시점  
forecast : 예보 시간  
(ex - Forecast time:2018-03-01 11:00:00, forecast:4.0 => 2018-03-01 11:00:00에 발표한 2018-03-01 15:00:00 예보  

### 예보 발표 시점 'forecast'시간 후 기상 예보  

Temperature : 온도(℃)  
Humidity : 습도(%)  
WindSpeed : 풍속(m/s)  
WindDirection : 풍향(º)  
Cloud : 하늘상태(1-맑음, 2-구름보통, 3-구름많음, 4-흐림)

In [1]:
import os
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Anaconda\envs\data_engeneering\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
energy_floating = pd.read_csv('data/energy_floating_sunlight.csv') # 일조, 일사량 추가 된 데이터
energy_warehouse = pd.read_csv('data/energy_warehouse_sunlight.csv') # 일조, 일사량 추가 된 데이터
energy_dangjin = pd.read_csv('data/energy_dangjin_sunlight.csv') # 일조, 일사량 추가 된 데이터
energy_ulsan = pd.read_csv('data/energy_ulsan.csv')

In [3]:
energy_floating_wind = energy_floating.copy()

wv = energy_floating_wind.pop('WindSpeed')

# Convert to radians.
wd_rad = energy_floating_wind.pop('WindDirection')*np.pi / 180

# Calculate the wind x and y components.
energy_floating_wind['Wind_X'] = wv*np.cos(wd_rad)
energy_floating_wind['Wind_Y'] = wv*np.sin(wd_rad)

In [4]:
energy_floating_wind

,time,dangjin_floating,capacity,time_generation,Temperature,Humidity,Cloud,일조(hr),일사(MJ/m2),Wind_X,Wind_Y
0,2018-03-02 00:00:00,0.0,1000.0,0.0,-2.000000,55.000000,1.0,0.0,0.0,6.120755,-2.725136
1,2018-03-02 01:00:00,0.0,1000.0,0.0,-2.666667,55.000000,1.0,0.0,0.0,5.799181,-2.461606
2,2018-03-02 02:00:00,0.0,1000.0,0.0,-3.333333,55.000000,1.0,0.0,0.0,5.470385,-2.210179
3,2018-03-02 03:00:00,0.0,1000.0,0.0,-4.000000,55.000000,1.0,0.0,0.0,5.134692,-1.971024
4,2018-03-02 04:00:00,0.0,1000.0,0.0,-4.333333,56.666667,1.0,0.0,0.0,4.812403,-1.688423
...,...,...,...,...,...,...,...,...,...,...,...
26299,2021-03-01 19:00:00,NaN,NaN,NaN,6.333333,85.000000,4.0,0.0,0.0,5.362035,3.307352
26300,2021-03-01 20:00:00,NaN,NaN,NaN,5.666667,85.000000,4.0,0.0,0.0,5.317885,2.988327
26301,2021-03-01 21:00:00,NaN,NaN,NaN,5.000000,85.000000,4.0,0.0,0.0,5.256938,2.678544
26302,2021-03-01 22:00:00,NaN,NaN,NaN,5.000000,85.000000,4.0,0.0,0.0,5.256938,2.678544
26303,2021-03-01 23:00:00,NaN,NaN,NaN,5.000000,85.000000,4.0,0.0,0.0,5.256938,2.678544

In [5]:
energy_floating_wind.to_csv("data/energy_floating_sunlight_wind.csv", index=False)

In [7]:
energy_warehouse_wind = energy_warehouse.copy()

wv = energy_warehouse_wind.pop('WindSpeed')

# Convert to radians.
wd_rad = energy_warehouse_wind.pop('WindDirection')*np.pi / 180

# Calculate the wind x and y components.
energy_warehouse_wind['Wind_X'] = wv*np.cos(wd_rad)
energy_warehouse_wind['Wind_Y'] = wv*np.sin(wd_rad)

In [8]:
energy_warehouse_wind.to_csv("data/energy_warehouse_sunlight_wind.csv", index=False)

In [9]:
energy_dangjin_wind = energy_dangjin.copy()

wv = energy_dangjin_wind.pop('WindSpeed')

# Convert to radians.
wd_rad = energy_dangjin_wind.pop('WindDirection')*np.pi / 180

# Calculate the wind x and y components.
energy_dangjin_wind['Wind_X'] = wv*np.cos(wd_rad)
energy_dangjin_wind['Wind_Y'] = wv*np.sin(wd_rad)

In [10]:
energy_dangjin_wind = energy_dangjin_wind.reset_index(drop=True)

In [11]:
energy_dangjin_wind[12:25]

,time,dangjin,capacity,time_generation,Temperature,Humidity,Cloud,일조(hr),일사(MJ/m2),Wind_X,Wind_Y
12,2018-03-02 12:00:00,644.0,1000.0,0.644,1.000000,45.000000,1.000000,1.0,2.69,-1.935375e-01,-0.776237
13,2018-03-02 13:00:00,709.0,1000.0,0.709,1.666667,46.666667,1.000000,1.0,2.89,-2.108313e-01,-1.282790
14,2018-03-02 14:00:00,739.0,1000.0,0.739,2.333333,48.333333,1.000000,1.0,2.85,-1.464456e-01,-1.794033
15,2018-03-02 15:00:00,693.0,1000.0,0.693,3.000000,50.000000,1.000000,1.0,2.55,-4.225031e-16,-2.300000
16,2018-03-02 16:00:00,583.0,1000.0,0.583,2.333333,51.666667,1.000000,1.0,2.00,-7.561558e-02,-2.165347
17,2018-03-02 17:00:00,409.0,1000.0,0.409,1.666667,53.333333,1.000000,1.0,1.26,-1.418382e-01,-2.028380
18,2018-03-02 18:00:00,125.0,1000.0,0.125,1.000000,55.000000,1.000000,1.0,0.48,-1.986041e-01,-1.889592
19,2018-03-02 19:00:00,0.0,1000.0,0.000,0.333333,60.000000,1.000000,0.0,0.02,-1.705314e+00,-0.576111
20,2018-03-02 20:00:00,0.0,1000.0,0.000,-0.333333,65.000000,1.000000,0.0,0.00,-1.166611e+00,1.236535
21,2018-03-02 21:00:00,0.0,1000.0,0.000,-1.000000,70.000000,1.000000,0.0,0.00,5.993705e-01,1.483494
22,2018-03-02 22:00:00,0.0,1000.0,0.000,-1.333333,73.333333,1.333333,0.0,0.00,4.726310e-01,1.805842
23,2018-03-02 23:00:00,0.0,1000.0,0.000,-1.666667,76.666667,1.666667,0.0,0.00,2.723022e-01,2.115883
24,2018-03-03 00:00:00,0.0,1000.0,0.000,-2.000000,80.000000,2.000000,0.0,0.00,1.469576e-16,2.400000

In [12]:
energy_dangjin_wind.to_csv("data/energy_dangjin_sunlight_wind.csv", index=False)

In [14]:
energy_ulsan_wind = energy_ulsan.copy()

wv = energy_ulsan_wind.pop('WindSpeed')

# Convert to radians.
wd_rad = energy_ulsan_wind.pop('WindDirection')*np.pi / 180

# Calculate the wind x and y components.
energy_ulsan_wind['Wind_X'] = wv*np.cos(wd_rad)
energy_ulsan_wind['Wind_Y'] = wv*np.sin(wd_rad)

In [15]:
energy_ulsan_wind.to_csv("data/energy_ulsan_wind.csv", index=False)

In [48]:
energy_warehouse_

,time,dangjin_warehouse,capacity,time_generation,Temperature,Humidity,WindSpeed,WindDirection,Cloud
23,2018-03-02 00:00:00,0.0,700.0,0.0,-2.000000,55.000000,6.7,336.000000,1.0
24,2018-03-02 01:00:00,0.0,700.0,0.0,-2.666667,55.000000,6.3,337.000000,1.0
25,2018-03-02 02:00:00,0.0,700.0,0.0,-3.333333,55.000000,5.9,338.000000,1.0
26,2018-03-02 03:00:00,0.0,700.0,0.0,-4.000000,55.000000,5.5,339.000000,1.0
27,2018-03-02 04:00:00,0.0,700.0,0.0,-4.333333,56.666667,5.1,340.666667,1.0
...,...,...,...,...,...,...,...,...,...
26322,2021-03-01 19:00:00,NaN,NaN,NaN,6.333333,85.000000,6.3,31.666667,4.0
26323,2021-03-01 20:00:00,NaN,NaN,NaN,5.666667,85.000000,6.1,29.333333,4.0
26324,2021-03-01 21:00:00,NaN,NaN,NaN,5.000000,85.000000,5.9,27.000000,4.0
26325,2021-03-01 22:00:00,NaN,NaN,NaN,5.000000,85.000000,5.9,27.000000,4.0
26326,2021-03-01 23:00:00,NaN,NaN,NaN,5.000000,85.000000,5.9,27.000000,4.0

In [49]:
energy_warehouse = pd.read_csv('data/energy_warehouse_sunlight.csv') # 일조, 일사량 추가 된 데이터

In [50]:
energy_warehouse

,time,dangjin_warehouse,capacity,time_generation,Temperature,Humidity,WindSpeed,WindDirection,Cloud,일조(hr),일사(MJ/m2)
0,2018-03-02 00:00:00,0.0,700.0,0.0,-2.000000,55.000000,6.7,336.000000,1.0,0.0,0.0
1,2018-03-02 01:00:00,0.0,700.0,0.0,-2.666667,55.000000,6.3,337.000000,1.0,0.0,0.0
2,2018-03-02 02:00:00,0.0,700.0,0.0,-3.333333,55.000000,5.9,338.000000,1.0,0.0,0.0
3,2018-03-02 03:00:00,0.0,700.0,0.0,-4.000000,55.000000,5.5,339.000000,1.0,0.0,0.0
4,2018-03-02 04:00:00,0.0,700.0,0.0,-4.333333,56.666667,5.1,340.666667,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
26299,2021-03-01 19:00:00,NaN,NaN,NaN,6.333333,85.000000,6.3,31.666667,4.0,0.0,0.0
26300,2021-03-01 20:00:00,NaN,NaN,NaN,5.666667,85.000000,6.1,29.333333,4.0,0.0,0.0
26301,2021-03-01 21:00:00,NaN,NaN,NaN,5.000000,85.000000,5.9,27.000000,4.0,0.0,0.0
26302,2021-03-01 22:00:00,NaN,NaN,NaN,5.000000,85.000000,5.9,27.000000,4.0,0.0,0.0
26303,2021-03-01 23:00:00,NaN,NaN,NaN,5.000000,85.000000,5.9,27.000000,4.0,0.0,0.0